/CODE/Build/
/CODE/Builds/
/CODE/Library/
/CODE/Logs/
/CODE/MemoryCaptures/
/CODE/Obj/
/CODE/Temp/
/CODE/UserSettings/
*.VC.db
*.aab
*.apk
*.booproj
*.csproj
*.mdb
*.mdb.meta
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.suo
*.svd
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs
.consulo/
.gradle/
.vs/
ExportedObj/
crashlytics-build.properties
sysinfo.txt
